In [36]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['reviews_detail.csv', 'neighbourhoods.csv', 'listings_detail.csv', 'calendar_detail.csv', 'listings_summary.csv', 'neighbourhoods.geojson', 'reviews_summary.csv']

In [37]:
import numpy as np
import pandas as pd

In [38]:
dataset = pd.read_csv('../input/reviews_detail.csv')

In [39]:
print(dataset.head())
dataset.info()

   listing_id                        ...                                                                   comments
0     9452127                        ...                          Great place. Helena was prompt to reply and ve...
1     9452127                        ...                          We had previously stayed at the apartment over...
2     9452127                        ...                          Helena was a great host and extremely accommod...
3     9452127                        ...                          Helena was extremely accessible throughout the...
4     9452127                        ...                          Awesome place! Looks just as in photos. Plenty...

[5 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801784 entries, 0 to 801783
Data columns (total 6 columns):
listing_id       801784 non-null int64
id               801784 non-null int64
date             801784 non-null object
reviewer_id      801784 non-null int64
reviewer_name    801784 non-null object
comments         800995 non-null object
dtypes: int64(3), object(3)
memory usage: 36.7+ MB

In [41]:
dataset=dataset.dropna()

In [42]:
dataset=dataset.drop(['id','reviewer_name','date'],axis=1)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800995 entries, 0 to 801783
Data columns (total 3 columns):
listing_id     800995 non-null int64
reviewer_id    800995 non-null int64
comments       800995 non-null object
dtypes: int64(2), object(1)
memory usage: 24.4+ MB

In [43]:
import re
import html.parser
def clean_data(textData):
    textData = re.sub(r'[?|$|.|!|\n|;|-|,|:|\d+]',r'',textData)
    textData = html.parser.unescape(textData)
    return textData

In [44]:
review_comment_data = dataset.iloc[:,-1].values

In [45]:
length = review_comment_data.size
print("Review count",length)
for i in range(0,length):
    review_comment_data[i] = clean_data(review_comment_data.item(i))

Review count 800995

In [46]:
print(review_comment_data[0:5])

["Great place Helena was prompt to reply and very helpful Place has a great location short walk away from Times Square and is close to everything and anything you'll need "
 'We had previously stayed at the apartment over New years and loved it - it had a great location and was very clean As our trip was extended we decided to return to the apartment Whilst Helena was very prompt in accepting our request and checking us in we found the flat to be dirty and had been cleaned in a rush since our previous stay with the rubbish kept in a locked closet It was a shame as we had really liked the apartment from our initial stay'
 'Helena was a great host and extremely accommodating with our last minute booking The spot was clean and had a great location It was exactly what was needed for two couples I would definitely stay here again'
 'Helena was extremely accessible throughout the duration of my stay Initially I called her regarding location verification and possibly extending my stay I was able to get in contact with her on both occasions The apartment appeared as shown in its pictures It was neat and had enough space for me and three other guests who had stayed as well Location was perfect for where we were traveling to in New York that evening '
 'Awesome place Looks just as in photos Plenty of room for our group of  - very rare in NYC Helena was a wonderful host - accommodating and great communicator Would recommend this place in a heartbeat ']

In [47]:
import nltk

In [48]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

genrated polarity scores for chunks of data and then merged all the scores to get polarity scores for all the data
For Easy interpretation scaled polarity scores

In [49]:
sentiment_analyzer = SentimentIntensityAnalyzer()
positive_rating = []
negitive_rating = []
n_records=len(review_comment_data)
for i in range(100000,200000):
     score = sentiment_analyzer.polarity_scores(review_comment_data[i])
     positive_rating.append(score['pos']*100)
     negitive_rating.append(score['neg']*100)

In [50]:
print(len(positive_rating))

100000

In [51]:
positive_rating=np.array(positive_rating)
negitive_rating=np.array(negitive_rating)

In [52]:
type(positive_rating)

numpy.ndarray

In [54]:
output_df = pd.DataFrame({
    'Positive':positive_rating[0:100000],
    'Negative':negitive_rating[0:100000]
})
output_df.to_csv('generated_rating3.csv',index=False)
output_df.head()

   Positive  Negative
0      48.1       0.0
1      23.3       0.0
2      45.3       0.0
3      35.1       0.0
4      60.4       0.0